.details_main{
  margin-top: 100px;
  display: flex;
  background-color: white;
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  margin-bottom: 100px;
}

.details_img_imagem{
width: 550px;
margin-top: 80px;
}

.details_imagem{
  width: 50%;
}

.details_modelo{
margin-top: 80px;
font-size: 45px;
}

.details_marca{
font-size: 25px;
font-weight: 600;
margin-top: 10px;

}



.details_parcelas{
  text-align: start;
  margin-top: 20px;
}

.details_parcelas p{
  font-weight: 200;
  margin-bottom: 5px;
}
.details_parcelas p i{
  font-size: 20px;
  margin-left: 15px;
}

.frete{
  margin-top: 20px;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 8px;
  width: 180px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
.frete i{
  margin-right: 10px;
}

.seguro{
  margin-top: 10px;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 8px;
  width: 180px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
.seguro i{
  margin-right: 15px;
  margin-left: -25px;
}

.details_preco{
  margin-top: 10px;
font-size: 35px;
font-weight: 700;
}

.details_vista{
  font-size: 20px;
  font-weight: 300;
}