nav{
  background-color: black;
  padding: 15px;
  align-items: center;
}

ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

li{
  list-style: none;
  text-decoration: none;
}

a{
  
  color: white;
  text-decoration: none;
  
}